* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}

.burger {
  position: absolute;
  top: -2%;
  width: 50px;
  height: 50px;
  right: 4%;
  z-index: 10;
}
.burger .burger-icon::before,
.burger .burger-icon::after,
.burger .burger-icon {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: black;
  cursor: pointer;
  z-index: 15;
}
.burger .burger-icon {
  display: none;
  top: 50%;
  right: 20%;
  transition: opacity 0.5s;
}
.burger .burger-icon::before {
  content: "";
  top: 10px;
}
.burger .burger-icon::after {
  content: "";
  bottom: 10px;
}
.burger .x-icon,
.burger .x-icon::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 2px;
  background-color: black;
  cursor: pointer;
  z-index: 15;
}
.burger .x-icon {
  display: none;
  top: 50%;
  right: 22%;
  transform: rotate(45deg);
  transition: opacity 0.5s;
}
.burger .x-icon::before {
  top: 15%;
  left: 4%;
  transform: rotate(90deg);
}
.burger .is-active {
  display: block;
}
.burger .isnt-active {
  display: none;
}

nav {
  position: relative;
  display: flex;
  height: 4%;
  justify-content: space-between;
  margin: 7% 0;
}
nav .logo {
  margin-left: 4%;
  width: 100px;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
nav .nav > ul,
nav p {
  margin: 2% 0;
}
nav .nav {
  display: none;
  flex-direction: column;
  margin-top: -7%;
  padding: 20% 0 0 5%;
  width: 65%;
  height: 100vh;
  font-size: 20px;
  background-color: #fff;
  z-index: 5;
}
nav .nav .features, nav .nav .company {
  list-style: none;
}
nav .nav .features .feature, nav .nav .features .company-details, nav .nav .company .feature, nav .nav .company .company-details {
  display: none;
}
nav .nav .company-details, nav .nav .feature {
  margin-left: 20px;
}
nav .nav .feature-text, nav .nav .company-text {
  display: flex;
  align-items: center;
}
nav .nav .arrow-icon {
  display: inline-block;
  width: 10px;
  height: 15px;
  margin: 10px 0 0 10px;
  background-image: url(../images/icon-arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
nav .nav .arrow-down {
  background-image: url(../images/icon-arrow-down.svg);
}
nav .nav .arrow-up {
  background-image: url(../images/icon-arrow-up.svg);
}
nav .nav .features-icon {
  margin-right: 10px;
}
nav .nav .company-details, nav .nav .feature {
  margin-bottom: 10px;
}
nav .nav .first-feature, nav .nav .first-company-details {
  margin-top: 15px;
}
nav .nav .registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -9%;
}
nav .nav .registration .login, nav .nav .registration .registrate {
  padding: 5% 25%;
  cursor: pointer;
}
nav .nav .registration .registrate {
  border: 1px solid black;
  border-radius: 15px;
}

main {
  position: relative;
  height: 96%;
  display: flex;
  flex-direction: column;
}
main .main-img {
  height: 40%;
  background-image: url(../images/image-hero-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -2;
}
main .main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main-text .company-text {
  font-size: 36px;
}
main .main-text .site-text {
  margin: 6%;
  font-size: 18px;
  text-align: center;
}
main .main-text .learn-more-btn {
  margin-bottom: 35px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  z-index: -5;
}
main .main-text .companies img {
  transform: scale(0.8);
}

.shadow {
  position: absolute;
  width: 100vw;
  height: 110vh;
  margin-top: -10%;
  background-color: rgba(0, 0, 0, 0.596);
  z-index: -1;
}/*# sourceMappingURL=style.css.map */